.navbar {
    background-color: #f2f2f2;
    padding: 15px;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    display: inline-block;
    margin-right: 10px;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  .navbar-link:hover {
    background-color: #ddd;
    border-radius: 3px;
  }

  .text{
    font-size: large;
  }

  .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 50%;
    align-items: center;
    justify-content: center;
  /* margin: 50px; */
  margin-block-start: 10%;
  margin-inline-start: 25%;

  }
  
  .card-title {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card-content {
    color: #666;
    font-size: 14px;
  }
  
  .card-content p {
    margin-bottom: 10px;
  }

  /* deposit */

  .deposit-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 50%;
    align-items: center;
    justify-content: center;
  /* margin: 50px; */
  margin-block-start: 10%;
  margin-inline-start: 25%;
  }
  
  .card-title {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card-content {
    display: flex;
    align-items: center;
  }
  
  .amount-input {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin-right: 10px;
  }
  
  .deposit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .deposit-button:hover {
    background-color: #0056b3;
  }

  /* transfer */

  .transfer-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 50%;
    align-items: center;
    justify-content: center;
  /* margin: 50px; */
  margin-block-start: 10%;
  margin-inline-start: 25%;
  }
  
  .card-title {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
  }
  
  .email-input,
  .amount-input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .transfer-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .transfer-button:hover {
    background-color: #0056b3;
  }
  

  /* statement */

  .bank-statement {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .statement-title {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .statement-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .statement-table th,
  .statement-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .statement-table th:first-child,
  .statement-table td:first-child {
    padding-left: 0;
  }
  
  .statement-table th:last-child,
  .statement-table td:last-child {
    padding-right: 0;
  }

  /* header */

  .headerStyle{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100%;
  }
  /* signup */

  .signup-form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 50%;
    margin-block-start: 10%;
    margin-inline-start: 25%;
  }
  
  .signup-form h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .signup-form form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-form .form-group {
    margin-bottom: 10px;
  }
  
  .signup-form label {
    font-weight: bold;
  }
  
  .signup-form input[type='text'],
  .signup-form input[type='email'],
  .signup-form input[type='password'] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 97%;
  }
  
  .signup-form input[type='checkbox'] {
    margin-right: 5px;
  }
  
  .signup-form button {
    padding: 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .signup-form p {
    margin-top: 10px;
    text-align: center;
  }
  
  .signup-form p a {
    color: #337ab7;
    text-decoration: none;
  }
  
  .signup-form p a:hover {
    text-decoration: underline;
  }
  
  /* login */

  .login-form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 50%;
    margin-block-start: 10%;
    margin-inline-start: 25%;
  }
  
  .login-form h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form .form-group {
    margin-bottom: 10px;
  }
  
  .login-form label {
    font-weight: bold;
  }
  
  .login-form input[type='email'],
  .login-form input[type='password'] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 97%;
  }
  
  .login-form .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .login-form .remember-me label {
    margin-left: 5px;
  }
  
  .login-form button {
    padding: 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .login-form p {
    margin-top: 10px;
    text-align: center;
  }
  
  .login-form p a {
    color: #337ab7;
    text-decoration: none;
  }
  
  .login-form p a:hover {
    text-decoration: underline;
  }
  
  
  